{{#link-to 'admin.artists.artist.update' model.artist.artist.id}}
  <h4>Change Artist Information</h4>
{{/link-to}}

{{#link-to 'admin.artists.artist.new' model.artist.artist.id}}
  <h4>Add a new piece by {{model.artist.artist.name}}</h4>
{{/link-to}}


{{outlet}}
