<div class="container">
  <h3>Admin Page</h3>
  <ul class="nav nav-pills">
    <li role="presentation">
      {{#link-to 'admin.artists'}} Manage Artists {{/link-to}}
    </li>
    <li role="presentation">
      {{#link-to 'admin.pieces'}} Manage Pieces {{/link-to}}
    </li>
  </ul>
</div>


{{outlet}}
