<div class="container">
  <h4 style='width:70%;text-align:center'>Our mission is to use art and entrepreneurship to provide resources and empower refugees in order to better their living conditions while in the camps.
</h4>
<br />
  <img src= "https://s-media-cache-ak0.pinimg.com/originals/a0/1a/a7/a01aa7186326ca90530082e1bf4476d6.jpg" style='height: 70%; width:70%;' >
</div>

{{outlet}}
